@charset "UTF-8";

// 変数設定

$sp-full-width: 390;
$pc-full-width: 1400;
$pc-content-width: 1200;
$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;
$production: 1;

// scss: ブレークポイント関数

$breakpoints: (
    "md": "screen and (min-width: #{$breakpoint-md}px)",
    "lg": "screen and (min-width: #{$breakpoint-lg}px)",
    ) !default;

@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

// scss: 変換関数群

@function vw($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px * 100vw / $sp-full-width
	);
}

@function vwt($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px * 100vw / $pc-content-width);
}

@function px2Rem($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px / 16) * 1rem;
}

@function vwp($px) {
	@if $production !=1 {
		@return $px * 1px;
	}

	@return calc($px * 100vw / $pc-full-width);
}


// 基本設定

html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	height: auto;
	color: #000;
	font-family: "Noto Sans JP", sans-serif;
	font-size: vw(16);
	font-weight: 400;
	line-height: normal;
	@include mq() {
		font-size: vwt(16);
	}
	@include mq(lg) {
		font-size: px2Rem(16);
	}
}

.montserrat-semibold {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.montserrat-bold {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-style: normal;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

a {
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
	opacity: 0.8;
}

img {
	vertical-align: bottom;
}

li {
	list-style: none;
}

.sp-only {
	display: block;
	@include mq() {
		display: none;
	}
	@include mq(lg) {
		display: none;
	}
}

.pc-only {
	display: none;
	@include mq() {
		display: block;
	}
	@include mq(lg) {
		display: block;
	}
}

.sp-only-inline-block {
	display: inline-block;
	@include mq() {
		display: inline;
	}
	@include mq(lg) {
		display: inline;
	}
}

.pc-only-inline-block {
	display: inline;
	@include mq() {
		display: inline-block;
	}
	@include mq(lg) {
		display: inline-block;
	}
}


/* ヘッダー */

.header {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: vw(63);
	margin: 0 auto;
	padding-right: 0;
	padding-left: vw(16);
	background-color: #fff;
	@include mq() {
		height: vwt(114);
		padding-right: 0;
		padding-left: 0;
	}
	@include mq(lg) {
		height: px2Rem(114);
	}

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: flex-start;
		max-width: 100%;
		margin: 0 auto;
		@include mq() {
			justify-content: space-between;
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__logo-img {
		align-items: center;
		width: vw(197);
		padding-top: vw(20);
		@include mq() {
			width: vwt(340);
			padding-top: vwt(2);
			padding-bottom: vwt(5);
		}
		@include mq(lg) {
			width: px2Rem(340);
			padding-top: px2Rem(2);
			padding-bottom: px2Rem(5);
		}
	}

	&__nav {
		position: absolute;
		top: vw(63);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: vw(210);
		padding-right: vw(16);
		transition: opacity 0.5s linear;
		opacity: 0;
		@include mq() {
			position: static;
			top: 0;
			justify-content: end;
			height: vwt(114);
			padding-right: 0;
			transform: initial;
			opacity: 1;

			gap: vwt(46);
		}
		@include mq(lg) {
			height: px2Rem(114);

			gap: px2Rem(46);
		}
	}

	&__nav-list {
		width: vw(368);
		padding-top: vw(20);
		padding-bottom: vw(20);
		border-radius: vw(24);
		background-color: #168352;
		@include mq() {
			position: inherit;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 100%;
			height: 0;
			margin: 0 auto;
			padding: 0;
			transform: translate(0, 0);
			background-color: #fff;

			column-gap: vwt(38);
		}
		@include mq(lg) {
			height: px2Rem(0);

			column-gap: px2Rem(38);
		}
	}

	&__nav-link {
		position: relative;
		display: block;
		width: 100%;
		padding-top: vw(14);
		padding-bottom: vw(16.5);
		text-align: center;
		text-decoration: none;
		color: #fff;
		font-size: vw(18);
		font-weight: 700;
		@include mq() {
			padding-top: vwt(10);
			padding-bottom: vwt(10);
			color: #000;
			font-size: vwt(16.1);
		}
		@include mq(lg) {
			padding-top: px2Rem(10);
			padding-bottom: px2Rem(10);
			font-size: px2Rem(16.1);
		}
	}

	&__nav-link:hover {
		color: #fff;
		@include mq() {
			opacity: 1;
			color: #168352;
		}
	}

	&__nav-link-current {
		@include mq() {
			opacity: 1;
			color: #168352;
		}
	}
}

.hamburger {
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;
	width: vw(70);
	height: vw(70);
	padding: vw(20) vw(16) vw(24) vw(30);
	@include mq() {
		display: none;
	}
}

.hamburger span {
	position: relative;
	display: block;
	height: vw(2);
	margin: 0;
	transition: opacity 0.5s linear;
	border-radius: vw(20);
	background-color: #000;
}

.hamburger span:nth-child(1) {
	top: 0;
}

.hamburger span:nth-child(2) {
	margin: vw(6) 0;
}

.hamburger span:nth-child(3) {
	top: 0;
}

.header__nav.active {
	opacity: 1;
	@include mq() {
		display: none;
	}
}

.hamburger.active span:nth-child(1) {
	top: vw(5);
	transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
	opacity: 0;
}

.hamburger.active span:nth-child(3) {
	top: vw(-11);
	transform: rotate(-45deg);
}


/* フッター */

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: vw(68);
	margin: 0 auto;
	padding-right: vw(16);
	padding-left: vw(16);
	background-color: #168352;
	@include mq() {
		height: vwt(96);
		padding-right: vwt(16);
		padding-left: vwt(16);
	}
	@include mq(lg) {
		height: px2Rem(96);
		padding-right: px2Rem(16);
		padding-left: px2Rem(16);
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: vwt(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__footer-list {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		text-align: center;
		color: #fff;
		font-size: vw(13);
		@include mq() {
			padding-left: vwt(7);
			font-size: vwt(14.3);

			gap: vwt(22);
		}
		@include mq(lg) {
			padding-left: px2Rem(7);
			font-size: px2Rem(14.3);

			gap: px2Rem(22);
		}

		gap: vw(14.5);
	}

	&__footer-link-bar {
		padding-right: vw(18);
		border-right: 1px solid #fff;
		@include mq() {
			padding-right: vwt(22);
		}
		@include mq(lg) {
			padding-right: px2Rem(22);
		}
	}

	&__footer-link {
		color: #fff;
	}

	&__footer-link:hover {
		color: #fff;
	}
}


/* -------------------- トップ -------------------- */

/* メインビジュアル */

.main-visual {
	overflow: hidden;
	max-width: 100%;
	margin: 0 auto;
	padding: vw(74) vw(16) vw(48) vw(16);
	@include mq() {
		padding: vwt(157) vwt(20) vwt(50) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(157) px2Rem(20) px2Rem(50) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__info {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		margin-bottom: vw(28);
		@include mq() {
			align-items: flex-start;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: vwt(61);
			padding-right: vwt(35);
			padding-left: vwt(35);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(61);
			padding-right: px2Rem(35);
			padding-left: px2Rem(35);
		}
	}

	&__title {
		margin-bottom: vw(24);
		font-size: vw(28);
		font-weight: 700;
		@include mq() {
			margin-bottom: 0;
			font-size: vwt(40);
		}
		@include mq(lg) {
			font-size: px2Rem(40);
		}
	}

	&__text {
		font-size: vw(15);
		line-height: 1.7;
		@include mq() {
			width: vwt(525);
			padding-top: vwt(6);
			font-size: vwt(15);
		}
		@include mq(lg) {
			width: px2Rem(525);
			padding-top: px2Rem(6);
			font-size: px2Rem(15);
		}

		line-break: anywhere;
	}

	&__image {
		width: 100%;
		border-radius: vw(40);
		@include mq() {
			width: vwt(1168);
			border-radius: vwt(40);
		}
		@include mq(lg) {
			width: px2Rem(1168);
			border-radius: px2Rem(40);
		}
	}
}


/* 私たちについて */

.about {
	max-width: 100%;
	margin: 0 auto;
	padding: vwt(12) 0 0 0;
	background-color: #fff;
	@include mq() {
		padding: vwt(8) vwt(20) vwt(50) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(8) px2Rem(20) px2Rem(50) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: vwt(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__title {
		margin: 0 auto;
		margin-bottom: vw(21);
		@include mq() {
			margin-bottom: vwt(25);
			font-size: vwt(20);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(25);
			font-size: px2Rem(20);
		}
	}

	&__title-sub {
		display: block;
		flex-shrink: 0;
		margin: 0 auto;
		margin-bottom: vw(2);
		padding-right: vw(2);
		text-align: center;
		letter-spacing: 0.02em;
		color: #168352;
		font-size: vw(15.3);
		font-weight: 600;
		@include mq() {
			margin-bottom: vwt(8);
			padding-right: vwt(3);
			letter-spacing: 0.01em;
			font-size: vwt(19.5);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(8);
			padding-right: px2Rem(3);
			font-size: px2Rem(19.5);
		}
	}

	&__title-main {
		display: block;
		margin: auto;
		text-align: center;
		font-size: vw(20);
		font-weight: 700;
		@include mq() {
			font-size: vwt(28);
		}
		@include mq(lg) {
			font-size: px2Rem(28);
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin: auto;
		padding: vw(32) vw(16);
		background: url(/assets/image/top/top_about_us_img_sp.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@include mq() {
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
			max-width: vwt(975);
			height: auto;
			padding: 0 0 vwt(16) 0;
			padding-left: 0;
			background: transparent;

			column-gap: vwt(130);
		}
		@include mq(lg) {
			max-width: px2Rem(975);
			padding: 0 0 px2Rem(16) 0;

			column-gap: px2Rem(130);
		}
	}

	&__info {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		padding: vw(13) 0 vw(19) 0;
		text-align: left;
		opacity: 0.8;
		border-radius: vw(32);
		background-color: #fff;
		@include mq() {
			width: vwt(410);
			padding-top: vwt(4);
			padding-right: 0;
			padding-bottom: vwt(5);
			padding-left: 0;
			border-radius: 0;
			background: transparent;
		}
		@include mq(lg) {
			width: px2Rem(410);
			padding-top: px2Rem(4);
			padding-bottom: px2Rem(5);
		}
	}

	&__info-title {
		width: vw(311);
		margin-bottom: vw(7);
		padding-right: vw(6);
		font-size: vw(17.96);
		font-weight: 700;
		line-height: 1.77;
		@include mq() {
			width: vwt(410);
			margin-bottom: vwt(26);
			padding-right: vwt(10);
			text-align: left;
			font-size: vwt(20);
			line-height: 1.77;
		}
		@include mq(lg) {
			width: px2Rem(410);
			margin-bottom: px2Rem(26);
			font-size: px2Rem(20);
		}

		margin-inline: auto;
		line-break: anywhere;
	}

	&__info-text {
		width: vw(310);
		// margin: auto;
		text-align: left;
		font-size: vw(15.1);
		line-height: 1.73;
		@include mq() {
			width: vwt(410);
			font-size: vwt(14.95);
			line-height: 1.77;
		}
		@include mq(lg) {
			width: px2Rem(410);
			font-size: px2Rem(14.95);
		}

		margin-inline: auto;
		line-break: anywhere;
	}

	&__image {
		@include mq() {
			min-width: vwt(410);
		}
		@include mq(lg) {
			min-width: px2Rem(410);
		}
	}
}


/* 私たちが選ばれる3つの理由 */

.features {
	max-width: 100%;
	margin: 0 auto;
	padding: vw(52) vw(16) vw(54) vw(16);
	background-color: #f3f9f6;
	@include mq() {
		padding: vwt(57) vwt(20) vwt(60) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(57) px2Rem(20) px2Rem(60) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: vwt(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__title {
		margin: 0 auto;
		margin-bottom: vw(20);
		@include mq() {
			margin-bottom: vwt(55);
			font-size: vwt(20);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(55);
			font-size: px2Rem(20);
		}
	}

	&__title-sub {
		display: block;
		flex-shrink: 0;
		margin: 0 auto;
		margin-bottom: vw(2);
		padding-right: vw(2);
		text-align: center;
		letter-spacing: 0.02em;
		color: #168352;
		font-size: vw(15.3);
		font-weight: 600;
		@include mq() {
			margin-bottom: vwt(8);
			padding-right: vwt(3);
			letter-spacing: 0.01em;
			font-size: vwt(19.5);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(8);
			padding-right: px2Rem(3);
			font-size: px2Rem(19.5);
		}
	}

	&__title-main {
		display: block;
		margin: auto;
		text-align: center;
		font-size: vw(20);
		font-weight: 700;
		@include mq() {
			font-size: vwt(28);
		}
		@include mq(lg) {
			font-size: px2Rem(28);
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin: 0 auto;
		@include mq() {
			flex-direction: row;
			justify-content: center;
			max-width: vwt(1168);

			column-gap: vwt(30);
		}
		@include mq(lg) {
			max-width: px2Rem(1168);

			column-gap: px2Rem(30);
		}

		row-gap: vw(20);
	}

	// &__feature-item {
	// 	// position: relative;
	// 	display: flex;
	// 	align-items: flex-start;
	// 	flex-direction: column;
	// 	justify-content: center;
	// 	width: 100%;
	// 	// width: vw(358);
	// 	height: vw(289);
	// 	margin: auto;
	// 	border-radius: vw(32);
	// 	background-color: #fff;
	// 	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
	// 	@include mq() {
	// 		width: vwt(370);
	// 		height: vwt(290);
	// 		padding-bottom: vwt(25);
	// 		border-radius: vwt(32);
	// 	}
	// 	@include mq(lg) {
	// 		width: px2Rem(370);
	// 		height: px2Rem(290);
	// 		padding-bottom: px2Rem(25);
	// 		border-radius: px2Rem(32);
	// 	}
	// }

	&__feature-image {
		width: 100%;
		margin: auto;
		padding: 0;
		border-top-left-radius: vw(32);
		border-top-right-radius: vw(32);
		// position: absolute;
		// top: 0;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08); // 
		@include mq() {
			// position: initial;
			width: vwt(370);
		}
		@include mq(lg) {
			width: px2Rem(370);
		}
	}

	&__feature-title {
		width: 100%;
		margin: auto;
		padding-top: vw(12);
		padding-right: vw(16);
		padding-bottom: vw(14);
		padding-left: vw(16);
		text-align: left;
		border-bottom-right-radius: vw(32);
		border-bottom-left-radius: vw(32);
		// position: absolute;
		// bottom: 0;
		// width: vw(358);
		background-color: #fff; // 
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08); // 
		font-size: vw(18);
		font-weight: 700;
		line-height: 1.75;
		@include mq() {
			// position: initial;
			width: vwt(370);
			height: vwt(92);
			padding-top: vwt(12);
			padding-right: vwt(18);
			padding-bottom: vwt(35);
			padding-left: vwt(20);
			border-bottom-right-radius: vwt(32);
			border-bottom-left-radius: vwt(32);
			font-size: vwt(19);
			line-height: 1.7;
		}
		@include mq(lg) {
			width: px2Rem(370);
			height: px2Rem(92);
			padding-top: px2Rem(12);
			padding-right: px2Rem(18);
			padding-bottom: px2Rem(35);
			padding-left: px2Rem(20);
			border-bottom-right-radius: px2Rem(32);
			border-bottom-left-radius: px2Rem(32);
			font-size: px2Rem(19);
		}
	}
}


/* 製品・サービス紹介 */

.products {
	max-width: 100%;
	margin: 0 auto;
	padding: vw(56) vw(16) vw(56) vw(16);
	background-color: #fff;
	@include mq() {
		padding: vwt(67) vwt(20) vwt(65) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(67) px2Rem(20) px2Rem(65) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: vwt(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__title {
		margin: 0 auto;
		margin-bottom: vw(20);
		@include mq() {
			margin-bottom: vwt(27);
			font-size: vwt(20);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(27);
			font-size: px2Rem(20);
		}

		line-break: anywhere;
	}

	&__title-sub {
		display: block;
		flex-shrink: 0;
		margin: 0 auto;
		margin-bottom: vw(2);
		padding-right: vw(2);
		text-align: center;
		letter-spacing: 0.02em;
		color: #168352;
		font-size: vw(15.3);
		font-weight: 600;
		@include mq() {
			margin-bottom: vwt(8);
			padding-right: vwt(3);
			letter-spacing: 0.01em;
			font-size: vwt(19.5);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(8);
			padding-right: px2Rem(3);
			font-size: px2Rem(19.5);
		}
	}

	&__title-main {
		display: block;
		margin: auto;
		text-align: center;
		font-size: vw(20);
		font-weight: 700;
		@include mq() {
			font-size: vwt(28);
		}
		@include mq(lg) {
			font-size: px2Rem(28);
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin: auto;
		@include mq() {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			justify-content: space-between;
			max-width: vwt(1100);

			gap: vwt(40) vwt(50);
		}
		@include mq(lg) {
			max-width: px2Rem(1100);

			gap: px2Rem(40) px2Rem(50);
		}

		row-gap: vw(20);
	}

	&__product-link {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: flex-start;
		width: 100%;
		height: vw(140);
		padding: vw(20) vw(25) vw(20) vw(25);
		border-radius: vw(24);
		background-color: #168352;
	}

	&__product-image {
		width: vw(150);
	}

	&__product-title {
		display: block;
		width: 100%;
		padding-top: vw(10);
		padding-bottom: vw(13);
		padding-left: vw(16);
		text-align: left;
		color: #fff;
		font-size: vw(18);
		font-weight: 700;
		line-height: 1.8;

		line-break: anywhere;
	}

	&__link--01, &__link--02 {
		@include mq() {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: flex-start;
			width: vwt(525);
			height: vwt(180);
			padding: vwt(20) vwt(95) vwt(20) vwt(32);
			border-radius: vwt(24);
			background-color: #168352;
		}
		@include mq(lg) {
			width: px2Rem(525);
			height: px2Rem(180);
			padding: px2Rem(20) px2Rem(95)px2Rem(20) px2Rem(32);
			border-radius: px2Rem(24);
		}
	}

	&__link--03, &__link--04, &__link--05 {
		@include mq() {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: flex-start;
			width: vwt(333);
			height: vwt(150);
			padding: vwt(20) vwt(25) vwt(20) vwt(25);
			border-radius: vwt(24);
			background-color: #168352;
		}
		@include mq(lg) {
			width: px2Rem(333);
			height: px2Rem(150);
			padding: px2Rem(20) px2Rem(25) px2Rem(20) px2Rem(25);
			border-radius: px2Rem(24);
		}
	}

	&__image--01, &__image--02 {
		@include mq() {
			width: vwt(210);
		}
		@include mq(lg) {
			width: px2Rem(210);
		}
	}

	&__image--03, &__image--04, &__image--05 {
		@include mq() {
			width: vwt(190);
		}
		@include mq(lg) {
			width: px2Rem(190);
		}
	}

	&__title--01, &__title--02 {
		@include mq() {
			padding-top: vwt(38);
			padding-bottom: vwt(38);
			padding-left: vwt(28);
			text-align: left;
			color: #fff;
			font-size: vwt(24);
			font-weight: 700;
			line-height: 1.8;
		}
		@include mq(lg) {
			padding-top: px2Rem(38);
			padding-bottom: px2Rem(38);
			padding-left: px2Rem(28);
			font-size: px2Rem(24);
		}
	}

	&__title--03, &__title--04, &__title--05 {
		@include mq() {
			padding-top: vwt(38);
			padding-bottom: vwt(38);
			padding-left: vwt(20);
			text-align: left;
			color: #fff;
			font-size: vwt(20);
			font-weight: 700;
			line-height: 1.8;
		}
		@include mq(lg) {
			padding-top: px2Rem(38);
			padding-bottom: px2Rem(38);
			padding-left: px2Rem(20);
			font-size: px2Rem(20);
		}
	}

	.products__product-link:hover {
		opacity: 1;
		border-radius: vw(24);
		background-color: #dffaec;
		@include mq() {
			border-radius: vwt(24);
		}
		@include mq(lg) {
			border-radius: px2Rem(24);
		}
	}

	.products__product-link:hover .products__product-image {
		opacity: 1;
	}

	.products__product-link:hover .products__product-title {
		opacity: 1;
		color: #168352;
	}
}


/* お客様の事例紹介 */

.cases {
	max-width: 100%;
	margin: 0 auto;
	padding: vw(52) vw(16) vw(45) vw(16);
	background-color: #f3f9f6;
	@include mq() {
		padding: vwt(59) vwt(20) vwt(55) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(59) px2Rem(20) px2Rem(55) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: vwt(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__title {
		margin: 0 auto;
		margin-bottom: vw(22);
		@include mq() {
			margin-bottom: vwt(25);
			font-size: vwt(20);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(25);
			font-size: px2Rem(20);
		}
	}

	&__title-sub {
		display: block;
		flex-shrink: 0;
		margin: 0 auto;
		margin-bottom: vw(2);
		padding-right: vw(2);
		text-align: center;
		letter-spacing: 0.02em;
		color: #168352;
		font-size: vw(15.3);
		font-weight: 600;
		@include mq() {
			margin-bottom: vwt(8);
			padding-right: vwt(2);
			letter-spacing: 0.01em;
			font-size: vwt(19.5);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(8);
			padding-right: px2Rem(2);
			font-size: px2Rem(19.5);
		}
	}

	&__title-main {
		display: block;
		margin: auto;
		text-align: center;
		font-size: vw(20);
		font-weight: 700;
		@include mq() {
			font-size: vwt(28);
		}
		@include mq(lg) {
			font-size: px2Rem(28);
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin: auto;
		@include mq() {
			align-items: flex-start;
			flex-direction: row;
			justify-content: center;
			max-width: vwt(1168);

			column-gap: vwt(30);
		}
		@include mq(lg) {
			max-width: px2Rem(1168);

			column-gap: px2Rem(30);
		}

		row-gap: vw(23.5);
	}

	&__case-image {
		top: 0;
		// width: vw(358);
		width: 100%;
		@include mq() {
			width: vwt(370);
		}
		@include mq(lg) {
			width: px2Rem(370);
		}
	}

	&__case-title {
		bottom: 0;
		// width: vw(358);
		width: 100%;
		margin: auto;
		padding-top: vw(9);
		padding-bottom: vw(8.5);
		text-align: left;
		letter-spacing: 0.01em;
		color: #09947b;
		font-size: vw(18);
		font-weight: 700;
		line-height: 1.5;
		@include mq() {
			width: vwt(370);
			padding-top: vwt(10);
			padding-bottom: vwt(10);
			letter-spacing: 0.02em;
			font-size: vwt(18.65);
			line-height: 1.65;
		}
		@include mq(lg) {
			width: px2Rem(370);
			padding-top: px2Rem(10);
			padding-bottom: px2Rem(10);
			font-size: px2Rem(18.65);
		}
	}
}


/* お知らせ */

.news {
	max-width: 100%;
	margin: 0 auto;
	padding: vw(52) vw(16) vw(50) vw(16);
	background-color: #fff;
	@include mq() {
		padding: vwt(56) vwt(20) vwt(58) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(56) px2Rem(20) px2Rem(58) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
			padding-right: vwt(16);
			padding-left: vwt(16);
		}
		@include mq(lg) {
			max-width: vwt(1200);
			padding-right: px2Rem(16);
			padding-left: px2Rem(16);
		}
	}

	&__title {
		margin: 0 auto;
		margin-bottom: vw(20);
		@include mq() {
			margin-bottom: vwt(30);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(30);
		}
	}

	&__title-sub {
		display: block;
		flex-shrink: 0;
		margin: 0 auto;
		margin-bottom: vw(2);
		padding-right: vw(2);
		text-align: center;
		letter-spacing: 0.02em;
		color: #168352;
		font-size: vw(15.3);
		font-weight: 600;
		@include mq() {
			margin-bottom: vwt(8);
			padding-right: vwt(3);
			letter-spacing: 0.01em;
			font-size: vwt(19.5);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(8);
			padding-right: px2Rem(3);
			font-size: px2Rem(19.5);
		}
	}

	&__title-main {
		display: block;
		margin: auto;
		text-align: center;
		font-size: vw(20);
		font-weight: 700;
		@include mq() {
			font-size: vwt(28);
		}
		@include mq(lg) {
			font-size: px2Rem(28);
		}
	}

	&__item-group {
		width: 100%;
		margin: auto;
		border-top: 1px solid #ddd;
		line-height: 1.5;
		@include mq() {
			max-width: vwt(900);
		}
		@include mq(lg) {
			max-width: px2Rem(900);
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		padding-top: vw(16);
		border-bottom: 1px solid #ddd;
		@include mq() {
			align-items: center;
			align-items: flex-start;
			flex-direction: row;
			padding-top: vwt(10);
		}
		@include mq(lg) {
			padding-top: px2Rem(10);
		}
	}

	&__item:not(:last-child) {
		padding-bottom: vw(10);
		@include mq() {
			padding-bottom: vwt(23);
		}
		@include mq(lg) {
			padding-bottom: px2Rem(23);
		}
	}

	&__item:last-child {
		padding-bottom: vw(10);
		@include mq() {
			padding-bottom: vwt(20);
		}
		@include mq(lg) {
			padding-bottom: px2Rem(20);
		}
	}

	&__link {
		display: inline-block;
		padding-top: vw(2);
		color: #09947b;
		font-size: vw(15);
		font-weight: 700;
		line-height: 1.7;
		@include mq() {
			display: flex;
			align-items: flex-start;
			margin-left: vwt(25);
			font-size: vwt(15);
			line-height: 1;
		}
		@include mq(lg) {
			margin-left: px2Rem(25);
			font-size: px2Rem(15);
		}
	}

	&__date {
		margin-bottom: vw(8);
		color: #222;
		font-size: vw(14.9);
		font-weight: 400;
		@include mq() {
			flex-shrink: 0;
			margin-bottom: 0;
			font-size: vwt(14);
		}
		@include mq(lg) {
			font-size: px2Rem(14);
		}
	}

	&__tag {
		display: inline-block;
		min-width: vw(134);
		min-height: vw(28);
		margin-left: vw(18);
		padding: vw(7) vw(10);
		text-align: center;
		color: #fff;
		border-radius: vw(4);
		background: #473221;
		font-size: vw(14);
		font-weight: 400;
		line-height: 1;
		@include mq() {
			min-width: vwt(134);
			min-height: vwt(28);
			margin-left: vwt(19);
			padding: vwt(7) vwt(10);
			border-radius: vwt(4);
			font-size: vwt(13);
		}
		@include mq(lg) {
			min-width: px2Rem(134);
			min-height: px2Rem(28);
			margin-left: px2Rem(19);
			padding: px2Rem(7) px2Rem(10);
			border-radius: px2Rem(4);
			font-size: px2Rem(13);
		}
	}

	&__news-link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: vw(300);
		height: vw(66);
		margin: auto;
		margin-top: vw(25);
		margin-bottom: vw(10);
		text-align: center;
		letter-spacing: 0.1em;
		color: #fff;
		border-radius: vw(33);
		background-color: #168352;
		box-shadow: 0 vw(5) #066655;
		font-size: vw(17);
		font-weight: 700;
		line-height: 1.3;
		@include mq() {
			width: vwt(300);
			height: vwt(66);
			margin-top: vwt(28);
			margin-bottom: vwt(10);
			border-radius: vwt(33);
			box-shadow: 0 vwt(5) #066655;
			font-size: vwt(16.8);
			line-height: 1.3;
		}
		@include mq(lg) {
			width: px2Rem(300);
			height: px2Rem(66);
			margin-top: px2Rem(28);
			margin-bottom: px2Rem(10);
			border-radius: px2Rem(33);
			box-shadow: 0 px2Rem(5) #066655;
			font-size: px2Rem(16.8);
		}
	}

	&__news-link:hover {
		margin-top: vw(30);
		margin-bottom: vw(5);
		opacity: 1;
		color: #fff;
		box-shadow: none;
		@include mq() {
			margin-top: vwt(33);
			margin-bottom: vwt(5);
		}
		@include mq(lg) {
			margin-top: px2Rem(33);
			margin-bottom: px2Rem(5);
		}
	}
}


/* -------------------- 価格・スペック -------------------- */

/* メインビジュアル（価格・スペック） */

.main-visual-price {
	overflow: hidden;
	max-width: 100%;
	margin: 0 auto;
	padding: vw(82) vw(16) vw(22) vw(16);
	@include mq() {
		padding: vwt(155) vwt(20) vwt(20) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(155) px2Rem(20) px2Rem(20) px2Rem(20);
	}

	&__container {
		position: relative;
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
		}
	}

	&__image {
		width: 100%;
		@include mq() {
			width: vwt(1200);
		}
		@include mq(lg) {
			width: px2Rem(1200);
		}
	}

	&__title {
		margin-top: vw(22);
		border: 1px solid #fff;
		background-color: #fff;
		@include mq() {
			position: absolute;
			z-index: 99;
			bottom: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: vwt(327);
			height: vwt(113);
			margin: 0;
			padding-bottom: vwt(5);
			padding-left: vwt(4);
			letter-spacing: 0.02em;
			border-top-right-radius: vwt(40);
		}
		@include mq(lg) {
			width: px2Rem(327);
			height: px2Rem(113);
			padding-bottom: px2Rem(5);
			padding-left: px2Rem(4);
			border-top-right-radius: px2Rem(40);
		}
	}

	&__title-text {
		z-index: 99;
		text-align: left;
		font-size: vw(30);
		font-weight: 700;
		@include mq() {
			text-align: center;
			font-size: vwt(36);
		}
		@include mq(lg) {
			font-size: px2Rem(36);
		}
	}
}


/* パンくず（価格・スペック） */

.breadcrumb-price {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	padding-right: vw(16);
	padding-left: vw(16);
	@include mq() {
		padding-right: vwt(16);
		padding-left: vwt(16);
	}
	@include mq(lg) {
		padding-right: px2Rem(16);
		padding-left: px2Rem(16);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
		}
	}

	&__list {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: flex-end;
		text-align: center;
		font-size: vw(11.5);
		@include mq() {
			font-size: vwt(11.5);

			gap: vwt(9);
		}
		@include mq(lg) {
			font-size: px2Rem(11.5);

			gap: px2Rem(9);
		}

		gap: vw(9);
	}

	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: vw(5);
		padding-top: vw(2);
		@include mq() {
			width: vwt(5);
			padding-top: vwt(2);
		}
		@include mq(lg) {
			width: px2Rem(5);
			padding-top: px2Rem(2);
		}
	}

	&__link:hover {
		color: #168352;
	}
}


/* ギャラリー（価格・スペック） */

.gallery {
	max-width: 100%;
	margin: 0 auto;
	padding: vw(31) vw(16) vw(20) vw(16);
	@include mq() {
		padding: vwt(54) vwt(20) vwt(30) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(54) px2Rem(20) px2Rem(30) px2Rem(20);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(800);
		}
		@include mq(lg) {
			max-width: px2Rem(800);
		}
	}

	&__title {
		position: relative;
		width: 100%;
		margin-bottom: vw(25);
		padding-bottom: vw(8);
		text-align: left;
		border-bottom: vw(3) solid #ddd;
		font-size: vw(22);
		font-weight: 700;
		@include mq() {
			margin-bottom: vwt(30);
			padding-bottom: vwt(20);
			border-bottom: vwt(5) solid #ddd;
			font-size: vwt(28);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(30);
			padding-bottom: px2Rem(20);
			border-bottom: px2Rem(5) solid #ddd;
			font-size: px2Rem(28);
		}
	}

	&__title::after {
		position: absolute;
		top: 100%;
		left: 0;
		width: vw(50);
		height: vw(3);
		content: "";
		background-color: #168352;
		@include mq() {
			width: vwt(100);
			height: vwt(5);
		}
		@include mq(lg) {
			width: px2Rem(100);
			height: px2Rem(5);
		}
	}
}

.swiper {
	width: 100%;
}

.swiper-wrapper {
	height: auto;
}

.swiper-slide {
	height: auto;
}

.swiper-slide img {
	width: 100%;
	height: vw(237);
	border-radius: vw(24);
	@include mq() {
		height: 100%;
		border-radius: vwt(24);
	}
	@include mq(lg) {
		border-radius: px2Rem(24);
	}
}

.swiper-pagination {
	margin-bottom: vw(-2);
	@include mq() {
		margin-bottom: vwt(10);
	}
	@include mq(lg) {
		margin-bottom: px2Rem(10);
	}
}

.swiper-pagination-bullet {
	opacity: 1;
	color: #ececec;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	color: #168352;
}

:root {
	--swiper-theme-color: #168352;
	--swiper-pagination-bullet-inactive-color: #ececec;
}

.swiper-pagination-bullet {
	margin: 0 vw(3);
	@include mq() {
		margin: 0 vwt(3);
	}
	@include mq(lg) {
		margin: 0 px2Rem(3);
	}
}


/* 特徴（価格・スペック） */

.feature-price {
	max-width: 100%;
	margin: 0 auto;
	padding: vw(35) vw(16) vw(25) vw(16);
	@include mq() {
		padding: vwt(35) vwt(20) vwt(25) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(35) px2Rem(20) px2Rem(25) px2Rem(20);
	}

	&__container {
		max-width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(800);
		}
		@include mq(lg) {
			max-width: px2Rem(800);
		}
	}

	&__title {
		position: relative;
		width: 100%;
		margin-bottom: vw(25);
		padding-bottom: vw(8);
		text-align: left;
		border-bottom: vw(3) solid #ddd;
		font-size: vw(22);
		font-weight: 700;
		@include mq() {
			margin-bottom: vwt(30);
			padding-bottom: vwt(20);
			border-bottom: vwt(5) solid #ddd;
			font-size: vwt(28);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(30);
			padding-bottom: px2Rem(20);
			border-bottom: px2Rem(5) solid #ddd;
			font-size: px2Rem(28);
		}
	}

	&__title::after {
		position: absolute;
		top: 100%;
		left: 0;
		width: vw(50);
		height: vw(3);
		content: "";
		background-color: #168352;
		@include mq() {
			width: vwt(100);
			height: vwt(5);
		}
		@include mq(lg) {
			width: px2Rem(100);
			height: px2Rem(5);
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin: auto;
		@include mq() {
			align-items: flex-start;
			flex-direction: row;
			justify-content: center;
			max-width: vwt(800);

			column-gap: vwt(30);
		}
		@include mq(lg) {
			max-width: px2Rem(800);

			column-gap: px2Rem(30);
		}

		row-gap: vw(29);
	}

	&__feature-image {
		width: 100%;
		@include mq() {
			width: vwt(246);
		}
		@include mq(lg) {
			width: px2Rem(246);
		}
	}

	&__feature-title {
		bottom: 0;
		width: 100%;
		margin: auto;
		padding-top: vw(7);
		padding-bottom: vw(10);
		text-align: left;
		letter-spacing: 0.01em;
		font-size: vw(17.86);
		font-weight: 700;
		line-height: 1.7;
		@include mq() {
			width: vwt(246);
			padding-top: vwt(8);
			padding-bottom: vwt(10);
			font-size: vwt(18);
			line-height: 1.77;
		}
		@include mq(lg) {
			width: px2Rem(246);
			padding-top: px2Rem(8);
			padding-bottom: px2Rem(10);
			font-size: px2Rem(18);
		}

		line-break: anywhere;
	}
}


/* メーカー希望小売価格 （価格・スペック） */

.price {
	max-width: 100%;
	margin: 0 auto;
	padding: vw(20) vw(16) vw(30) vw(16);
	@include mq() {
		padding: vwt(20) vwt(20) vwt(30) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(20) px2Rem(20) px2Rem(30) px2Rem(20);
	}

	&__container {
		max-width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(800);
		}
		@include mq(lg) {
			max-width: px2Rem(800);
		}
	}

	&__title {
		position: relative;
		width: 100%;
		margin-bottom: vw(15);
		padding-bottom: vw(8);
		text-align: left;
		border-bottom: vw(3) solid #ddd;
		font-size: vw(22);
		font-weight: 700;
		@include mq() {
			margin-bottom: vwt(25);
			padding-bottom: vwt(20);
			border-bottom: vwt(5) solid #ddd;
			font-size: vwt(28);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(25);
			padding-bottom: px2Rem(20);
			border-bottom: px2Rem(5) solid #ddd;
			font-size: px2Rem(28);
		}
	}

	&__title::after {
		position: absolute;
		top: 100%;
		left: 0;
		width: vw(50);
		height: vw(3);
		content: "";
		background-color: #168352;
		@include mq() {
			width: vwt(100);
			height: vwt(5);
		}
		@include mq(lg) {
			width: px2Rem(100);
			height: px2Rem(5);
		}
	}

	&__price {
		text-align: left;
		font-size: vw(32);
		font-weight: 700;
		@include mq() {
			font-size: vwt(32);
		}
		@include mq(lg) {
			font-size: px2Rem(32);
		}
	}

	&__tax {
		font-size: vw(16);
		font-weight: 700;
		@include mq() {
			font-size: vwt(16);
		}
		@include mq(lg) {
			font-size: px2Rem(16);
		}
	}
}


/* スペック（価格・スペック） */

.spec {
	max-width: 100%;
	margin: 0 auto;
	padding: vw(25) vw(16) vw(52) vw(16);
	@include mq() {
		padding: vwt(30) vwt(20) vwt(72) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(30) px2Rem(20) px2Rem(72) px2Rem(20);
	}

	&__container {
		max-width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(800);
		}
		@include mq(lg) {
			max-width: px2Rem(800);
		}
	}

	&__title {
		position: relative;
		width: 100%;
		margin-bottom: vw(20);
		padding-bottom: vw(8);
		text-align: left;
		border-bottom: vw(3) solid #ddd;
		font-size: vw(22);
		font-weight: 700;
		@include mq() {
			margin-bottom: vwt(30);
			padding-bottom: vwt(20);
			border-bottom: vwt(5) solid #ddd;
			font-size: vwt(28);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(30);
			padding-bottom: px2Rem(20);
			border-bottom: px2Rem(5) solid #ddd;
			font-size: px2Rem(28);
		}
	}

	&__title::after {
		position: absolute;
		top: 100%;
		left: 0;
		width: vw(50);
		height: vw(3);
		content: "";
		background-color: #168352;
		@include mq() {
			width: vwt(100);
			height: vwt(5);
		}
		@include mq(lg) {
			width: px2Rem(100);
			height: px2Rem(5);
		}
	}

	&__wrapper {
		max-width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(740);
		}
		@include mq(lg) {
			max-width: px2Rem(740);
		}
	}

	&__title-sub {
		display: block;
		margin: auto;
		margin-bottom: vw(5);
		padding-left: vw(16);
		text-align: left;
		border-left: solid vw(3) #168352;
		font-size: vw(20);
		font-weight: 700;
		line-height: 1.7;
		@include mq() {
			margin-bottom: vwt(25);
			padding-left: vwt(16);
			border-left: solid vwt(3) #168352;
			font-size: vwt(24);
		}
		@include mq(lg) {
			margin-bottom: px2Rem(25);
			padding-left: px2Rem(16);
			border-left: solid px2Rem(3) #168352;
			font-size: px2Rem(24);
		}
	}

	&__table-pc {
		@include mq() {
			width: 100%;
			margin: 0 auto;
			border-collapse: collapse;
		}
	}

	&__table-pc-title {
		@include mq() {
			width: vwt(200);
			height: vwt(62.5);
			padding-top: vwt(18);
			padding-bottom: vwt(10);
			padding-left: vwt(18);
			border: solid 1px #ddd;
			background-color: #f5f5f5;
			font-size: vwt(16);
			font-weight: 700;
		}
		@include mq(lg) {
			width: px2Rem(200);
			height: px2Rem(62.5);
			padding-top: px2Rem(18);
			padding-bottom: px2Rem(10);
			padding-left: px2Rem(18);
			font-size: px2Rem(16);
		}
	}

	&__table-pc-detail {
		@include mq() {
			width: vwt(541);
			height: vwt(62.5);
			padding-top: vwt(18);
			padding-bottom: vwt(10);
			padding-left: vwt(22);
			border-top: solid 1px #ddd;
			border-right: solid 1px #ddd;
			border-bottom: solid 1px #ddd;
			font-size: vwt(16);
		}
		@include mq(lg) {
			width: px2Rem(541);
			height: px2Rem(62.5);
			padding-top: px2Rem(18);
			padding-bottom: px2Rem(10);
			padding-left: px2Rem(22);
			font-size: px2Rem(16);
		}
	}

	&__table-sp {
		width: 100%;
		margin: 0 auto;
		padding-top: vw(10);
		padding-bottom: vw(10);
		border-collapse: collapse;
	}

	&__table-sp-title {
		width: vw(358);
		height: vw(39.2);
		padding-top: vw(5);
		padding-bottom: vw(8);
		padding-left: vw(18);
		border: solid 1px #ddd;
		background-color: #f5f5f5;
		font-size: vw(16);
		font-weight: 700;
	}

	&__table-sp-detail {
		width: vw(358);
		height: vw(39.2);
		padding-top: vw(5);
		padding-bottom: vw(5);
		padding-left: vw(18);
		border: solid 1px #ddd;
		font-size: vw(16);
	}
}

.contact-price {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
	height: vw(360);
	margin: 0 auto;
	padding: 0;
	background-color: #000;
	background-image: url(/assets/image/price/price_contact_img_sp.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include mq() {
		height: vwt(450);
		background-color: rgba(0, 0, 0, 1);
		background-image: url(/assets/image/price/price_contact_img.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	@include mq(lg) {
		height: px2Rem(450);
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: vw(358);
		height: vw(80);
		margin: auto;
		text-align: center;
		color: #fff;
		border: 2px solid #fff;
		border-radius: vw(40);
		font-size: vw(20);
		font-weight: 700;
		@include mq() {
			width: vwt(358);
			height: vwt(80);
			border-radius: vwt(40);
			font-size: vwt(20);
		}
		@include mq(lg) {
			width: px2Rem(358);
			height: px2Rem(80);
			border-radius: px2Rem(40);
			font-size: px2Rem(20);
		}
	}

	&__link:hover {
		opacity: 1;
		color: #168352;
		border: none;
		background-color: #fff;
	}
}


/* -------------------- よくあるご質問 -------------------- */

/* メインビジュアル（価格・スペック） */

.main-visual-faq {
	overflow: hidden;
	max-width: 100%;
	margin: 0 auto;
	padding: vw(82) vw(16) vw(22) vw(16);
	@include mq() {
		padding: vwt(155) vwt(20) vwt(20) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(155) px2Rem(20) px2Rem(20) px2Rem(20);
	}

	&__container {
		position: relative;
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
		}
	}

	&__image {
		width: 100%;
		@include mq() {
			width: vwt(1200);
		}
		@include mq(lg) {
			width: px2Rem(1200);
		}
	}

	&__title {
		margin-top: vw(22);
		border: 1px solid #fff;
		background-color: #fff;
		@include mq() {
			position: absolute;
			z-index: 99;
			bottom: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: vwt(327);
			height: vwt(113);
			margin: 0;
			padding-bottom: vwt(5);
			padding-left: vwt(4);
			letter-spacing: 0.02em;
			border-top-right-radius: vwt(40);
		}
		@include mq(lg) {
			width: px2Rem(327);
			height: px2Rem(113);
			padding-bottom: px2Rem(5);
			padding-left: px2Rem(4);
			border-top-right-radius: px2Rem(40);
		}
	}

	&__title-text {
		z-index: 99;
		text-align: left;
		font-size: vw(30);
		font-weight: 700;
		@include mq() {
			text-align: center;
			font-size: vwt(36);
		}
		@include mq(lg) {
			font-size: px2Rem(36);
		}
	}
}


/* パンくず（価格・スペック） */

.breadcrumb-faq {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	padding-right: vw(16);
	padding-left: vw(16);
	@include mq() {
		padding-right: vwt(16);
		padding-left: vwt(16);
	}
	@include mq(lg) {
		padding-right: px2Rem(16);
		padding-left: px2Rem(16);
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		@include mq() {
			max-width: vwt(1200);
		}
		@include mq(lg) {
			max-width: px2Rem(1200);
		}
	}

	&__list {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: flex-end;
		text-align: center;
		font-size: vw(11.5);
		@include mq() {
			font-size: vwt(11.5);

			gap: vwt(9);
		}
		@include mq(lg) {
			font-size: px2Rem(11.5);

			gap: px2Rem(9);
		}

		gap: vw(9);
	}

	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: vw(5);
		padding-top: vw(2);
		@include mq() {
			width: vwt(5);
			padding-top: vwt(2);
		}
		@include mq(lg) {
			width: px2Rem(5);
			padding-top: px2Rem(2);
		}
	}

	&__link:hover {
		color: #168352;
	}
}


/* QA（よくあるご質問） */

.faq {
	width: 100%;
	margin: 0 auto;
	padding: vw(38) vw(16) vw(152) vw(16);
	@include mq() {
		padding: vwt(60) vwt(20) vwt(42) vwt(20);
	}
	@include mq(lg) {
		padding: px2Rem(60) px2Rem(20) px2Rem(42) px2Rem(20);
	}
}

.accordion_container {
	width: 100%;
	margin: 0 auto;
	margin-bottom: vw(24);
	border: 1px solid #ccc;
	border-radius: vw(16);
	@include mq() {
		max-width: vwt(800);
		margin-bottom: vwt(22);
		border-radius: vwt(16);
	}
	@include mq(lg) {
		max-width: px2Rem(800);
		margin-bottom: px2Rem(22);
		border-radius: px2Rem(16);
	}
}

.tag {
	display: inline-block;
	width: vw(100);
	height: vw(24);
	margin-right: vw(8);
	text-align: center;
	vertical-align: center;
	color: #168352;
	border: 1px solid #168352;
	border-radius: vw(4);
	font-size: vw(11);
	@include mq() {
		width: vwt(100);
		height: vwt(24);
		margin-right: vwt(10);
		border-radius: vwt(4);
		font-size: vwt(24);
		font-size: vwt(11);
	}
	@include mq(lg) {
		width: px2Rem(100);
		height: px2Rem(24);
		margin-right: px2Rem(10);
		border-radius: px2Rem(4);
		font-size: px2Rem(24);
		font-size: px2Rem(11);
	}
}

.q {
	width: vw(43);
	padding-top: vw(3);
	color: #168352;
	font-size: vw(27);
	font-weight: 700;
	line-height: 1;
	@include mq() {
		width: vwt(43);
		padding-top: vwt(4);
		font-size: vwt(27);
	}
	@include mq(lg) {
		width: px2Rem(43);
		padding-top: px2Rem(4);
		font-size: px2Rem(27);
	}
}

.accordion_title-text {
	display: block;
	width: vw(230);
	@include mq() {
		width: auto;
	}
	@include mq(lg) {
	}
}

.accordion_title {
	position: relative;
	z-index: +1;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: vw(17) vw(60) vw(16) vw(22);
	cursor: pointer;
	transition-duration: 0.2s;
	text-align: left;
	color: #000;
	font-size: vw(16);
	font-weight: bold;
	line-height: 1.8;
	@include mq() {
		padding: vwt(15) vwt(20) vwt(15) vwt(30);
		font-size: vwt(18);
		line-height: 2.1;
	}
	@include mq(lg) {
		padding: px2Rem(15) px2Rem(20) px2Rem(15) px2Rem(30);
		font-size: px2Rem(18);
	}

	line-break: anywhere;
}

.accordion_title:hover {
	opacity: 0.8;
}

.icon_wrap {
	position: absolute;
	top: vw(35);
	right: vw(12);
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: vw(40);
	height: vw(40);
	margin-top: vw(-20);
	@include mq() {
		top: vwt(37);
		right: vwt(20);
		width: vwt(40);
		height: vwt(40);
		margin-top: vwt(-20);
	}
	@include mq(lg) {
		top: px2Rem(37);
		right: px2Rem(20);
		width: px2Rem(40);
		height: px2Rem(40);
		margin-top: px2Rem(-20);
	}
}

.icon {
	position: relative;
	display: block;
	width: vw(18);
	height: vw(18);
	@include mq() {
		width: vwt(18);
		height: vwt(18);
	}
	@include mq(lg) {
		width: px2Rem(18);
		height: px2Rem(18);
	}
}

.accordion_title.open .icon_wrap {
	transform: rotate(-315deg);
}

.icon:before, .icon:after {
	position: absolute;
	top: vw(7);
	left: 0;
	display: flex;
	width: vw(18);
	height: vw(3);
	content: "";
	transform: rotate(0deg);
	transform-origin: center center;
	border-radius: vw(10);
	background-color: #000;
	@include mq() {
		top: vwt(7);
		width: vwt(18);
		height: vwt(3);
		border-radius: vwt(10);
	}
	@include mq(lg) {
		top: px2Rem(7);
		width: px2Rem(18);
		height: px2Rem(3);
		border-radius: px2Rem(10);
	}
}

.icon:before {
	top: 0;
	left: vw(7);
	width: vw(3);
	height: vw(18);
	@include mq() {
		left: vwt(7);
		width: vwt(3);
		height: vwt(18);
	}
	@include mq(lg) {
		left: px2Rem(7);
		width: px2Rem(3);
		height: px2Rem(18);
	}
}

.accordion_title.open .icon_wrap .icon:before {
	content: none;
}

.accordion_title.open .icon_wrap .icon:after {
	transform: rotate(-45deg);
}

.accordion_inner {
	display: none;
	box-sizing: border-box;
	margin-top: vw(-14);
	padding: 0 vw(22) vw(16) vw(22);
	@include mq() {
		margin-top: 0;
		padding: vwt(1) vwt(25) vwt(30) vwt(32);
	}
	@include mq(lg) {
		padding: px2Rem(1) px2Rem(25) px2Rem(30) px2Rem(32);
	}
}

.ac_inner_wraper {
	height: auto;
	@include mq() {
		height: vwt(43);
	}
	@include mq(lg) {
		height: px2Rem(43);
	}
}

p.txt_a_ac {
	font-size: vw(16.2);
	line-height: 1.72;
	@include mq() {
		font-size: vwt(16);
		line-height: 1.6;
	}
	@include mq(lg) {
		font-size: px2Rem(16);
	}

	line-break: anywhere;
}